<div class="container">
   
    <form>
        <table>
            <caption>
                Weekly Time Sheet
            </caption>
     
    <div class="emp-dep">
        Employees Name: <input type="text" >
    
        Department Name: <input type="text" >
    </div>

     <tr>
        <th>Days</th>
        <th>Date</th>
        <th>In</th>
        <th>Out</th>
        <th>Total</th>
     </tr>
     <tr>
        <td class="week">Monday</td>
        <td><input type="date"></td>
        <td><input type="time"></td>
        <td><input type="time"></td>
        <td><input type="number" name="montotal"></td>
      </tr>
      <tr>
        <td class="week">Tuesday</td>
        <td><input type="date"></td>
        <td><input type="time"></td>
        <td><input type="time"></td>
        <td><input type="number" name="tuestotal"></td>
      </tr>
      <tr>
        <td class="week">Wednesday</td>
        <td><input type="date"></td>
        <td><input type="time"></td>
        <td><input type="time"></td>
        <td><input type="number" name="wedtotal"></td>
      </tr>
      <tr>
        <td class="week">Thursday</td>
        <td><input type="date"></td>
        <td><input type="time"></td>
        <td><input type="time"></td>
        <td><input type="number" name="thurtotal"></td>
      </tr>
      <tr>
        <td class="week">Friday</td>
        <td><input type="date"></td>
        <td><input type="time"></td>
        <td><input type="time"></td>
        <td><input type="number" name="fritotal"></td>
      </tr>
      <tr>
        <td class="week">Saturday</td>
        <td><input type="date"></td>
        <td><input type="time"></td>
        <td><input type="time"></td>
        <td><input type="number" name="sattotal"></td>
      </tr>
      <tr>
        <td colspan="5" class="total">
            <input type="number" placeholder="All Total">
        </td>
      </tr>

      <tr>
        <td colspan="5" class="btn"><button type="submit">Save</button> <input type="button" value="Print For Manual"></td>
        
      </tr>
    
        </table>
    </form>
</div>