<div class="container">
    <header>
        <div>
            <h1>Restaurant Dashboard</h1>
        </div>

        <div class="add">
            Address:<br>
            16202 Diana Lane Houston Texas
        </div>



        <div class="img-logo">
            <img src="./assets/logo.png" alt="companylogo">
        </div>

        <div class="logout-btn">
            <button>Logout</button>
        </div>
    </header>


    <nav class="sidebar">
        

        <h2>Sales</h2>
        <hr>
        <ul>
            <li><a href="#">Sales Tracking</a></li>
            <li><a href="#">Revenue Analysis</a></li>
            <li><a href="#">Customer Manage</a></li>
            <li><a href="#">Sales Forecasting</a></li>
        </ul>

        <h2>Expenses</h2>
        <hr>
        <ul>
            <li><a href="#">Kitchen Expenses</a></li>
            <li><a href="#">Marketing Expenses</a></li>
            <li><a href="#">Food or Beverage</a></li>
            <li><a href="#">Rent and Utilities</a></li>
            <li><a href="#">Labor Cost</a></li>
            <li><a href="#">Maintain or Repair</a></li>
            <li><a href="#">License Permit</a></li>
            <li><a href="#">Insurance or Legal Service</a></li>
        </ul>

        <h2>Other</h2>
        <hr>
        <ul>
            <li><a href="#">Supplier Detail</a></li>
            <li><a href="#">Point of Sale Integration POS</a></li>
            <li><a href="#">Order Manage</a></li>
            <li><a href="#">Multi Location</a></li>
            <li><a href="#">Customer Relation Management CRM</a></li>
            <li><a href="#">Print Report</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Setting</a></li>

        </ul>
    </nav>

    <main>
        <section>
            <div class="sec-container">
                <div class="dropdown">
                    <button class="dropbtn">Official Paper</button>
                    <ul class="dropdown-content">
                        <li><a href="#">Experience Letter</a></li>
                        <li><a href="#">Award Letter</a></li>
                        <li><a href="#">Health And Safety</a></li>
                        
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Employee Management</button>
                    <ul class="dropdown-content">
                        <li><a [routerLink]="['/dashboard/employee-info']">Employee Info</a></li>
                        <li><a [routerLink]="['/dashboard/employee-timesheet']">Time-Sheet</a></li>
                        <li><a [routerLink]="['/dashboard/employee-schedule']">Schedule</a></li>
                        <li><a [routerLink]="['/dashboard/employee-payroll']">Payroll</a></li>
                        <li><a href="#">Performance</a></li>
                        <li><a href="#">Tips Distribution</a></li>
                        <li><a href="#">Safety Certificate</a></li>
                        <li><a href="#">Empolyee History(Active/NonActive)</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Inventory Management</button>
                    <ul class="dropdown-content">
                        <li><a href="#">Inventory Tracking</a></li>
                        <li><a href="#">Order Management</a></li>
                        <li><a href="#">Waste Management</a></li>
                        <li><a href="#">Inventory Valuation</a></li>
                    </ul>
                </div>
            </div>
            </section>
            <router-outlet></router-outlet>
    </main>
</div>