<div class="container">
    <header>
        <div>
            <h1>Restaurant Dashboard</h1>
        </div>

        <div class="add">
            Address:<br>
            16202 Diana Lane Houston Texas
        </div>



        <div class="img-logo">
            <img src="./assets/logo.png" alt="companylogo">
        </div>

        <div class="logout-btn">
            <button>Logout</button>
        </div>
    </header>


    <nav class="sidebar">
        <h2>Employee</h2><hr>
        <ul>
            <li><a href="#">Employee Register</a></li>
            <li><a href="#">Employee Delete</a></li>
            <li><a href="#">Employee Update</a></li>
         
        </ul>

        <h2>Sales</h2><hr>
        <ul>
            <li><a href="#">Insert Today's Sales</a></li>
            <li><a href="#">Edit Today's Sales</a></li>
            <li><a href="#">Delete Today's Sales</a></li>
            
        </ul>

        <h2>Kitchen</h2><hr>
        <ul>
            <li><a href="#">Expenses Insertion</a></li>
            <li><a href="#">Expenses Delete</a></li>
            <li><a href="#">Expenses Update</a></li>
        </ul>

        <h2>Other</h2><hr>
        <ul>
          
            <li><a href="#">Setting</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Calcualte</a></li>
            <li><a href="#">Print Report</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Search</a></li>

        </ul>
    </nav>

    <main>
        <!-- Content goes here --> Check In.
    </main>
</div>